@color-main: #007;
@color-button: lighten(@color-main, 20%);
body { background: @color-main; text-align: center; }
.but {
	color: contrast(@color-button);
	background: @color-button;
	padding: 1rem 3rem;
	border-radius: 20px;
	border: 4px solid #fff;
	font-size: 2rem;
}